Thumbs.db
.DS_Store
.gradle
build/
target/
out/
bin/
.idea
*.iml
*.ipr
*.iws
input-*.json
.project
.settings
.classpath
.serverless
lombok.config
node_modules/
src/main/resources/application-*.yml
!src/main/resources/application-test.yml
*.env
.tmp
package-lock.json
